<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('帖子信息管理列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>帖子：</label>
                            <select id="postsId" name="postsId"  >
                                <option th:each="posts : ${postsList}" th:text="${posts['postsTitle']}"
                                        th:value="${posts['postsId']}" th:field="*{posts.postsId}"></option>
                            </select>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">

            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:posts:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-danger" onclick="closeItem()">
                <i class="fa fa-reply-all"></i> 关闭
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    $(document).ready(function(){$("div img").addClass('img-responsive');});
    var removeFlag = [[${@permission.hasPermi('system:posts:remove')}]];
    var prefix = ctx + "system/posts";

    $(function () {
        var options = {
            url: prefix + "/list",
            removeUrl: prefix + "/remove",
            modalName: "帖子信息管理",
            columns: [{
                checkbox: true
            },
                {
                    field: 'postsId',
                    title: '帖子id'
                },
                {
                    field: 'postsTitle',
                    title: '帖子标题',
                    width: '10',
                    widthUnit: '%',
                    align: "left",
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'userId',
                    title: '发帖用户id'
                },
                {
                    field: 'commentNum',
                    title: '帖子的回复的数量'
                },
                {
                    field: 'createTime',
                    title: '帖子发布时间'
                },
                {
                    field: 'lastComUserId',
                    title: '最后回复者id'
                },
                {
                    field: 'lastComTime',
                    title: '最后回复时间'
                },
                {
                    field: 'postsContent',
                    title: '帖子内容',
                    width: '15px',
                    height: '15px',
                    align: "left",
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value,9);

                    }

                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.postsId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);

    });
</script>
</body>
</html>