<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改学生收藏信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-knowledge_collection-edit" th:object="${knowledgeCollection}">
            <input name="collectionId" th:field="*{collectionId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户id：</label>
                <div class="col-sm-8">
                    <input name="userId" th:field="*{userId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">健康知识id：</label>
                <div class="col-sm-8">
                    <input name="mentalKnowledgeId" th:field="*{mentalKnowledgeId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收藏状态判断(0,未收藏,1,已收藏)：</label>
                <div class="col-sm-8">
                    <select name="collectionState" class="form-control m-b" th:with="type=${@dict.getType('sys_knowledge_collection')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{collectionState}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/knowledge_collection";
        $("#form-knowledge_collection-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-knowledge_collection-edit').serialize());
            }
        }
    </script>
</body>
</html>