<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('个人评论信息管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>帖子id：</label>
                                <input type="text" name="postsId"/>
                            </li>

<!--                            <li>-->
<!--                                帖子：<select id="postsId" name="postsId" class="form-control">-->
<!--                                -->
<!--                                <option th:each="posts : ${postsList}" th:text="${posts['postsId']}"-->
<!--                                        th:value="${posts['postsId']}" th:field="*{posts.postsId}"></option>-->
<!--                            </select>-->
                            </li>


                            <li>
                                <label>用户id：</label>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <label>用户名称：</label>
                                <input type="text" name="userName"/>
                            </li>
<!--                            <li>-->
<!--                                <label>父评论的用户id：</label>-->
<!--                                <input type="text" name="parentUserId"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>父评论id：</label>-->
<!--                                <input type="text" name="parentCommentId"/>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
<!--                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:comment_user:add">-->
<!--                    <i class="fa fa-plus"></i> 添加-->
<!--                </a>-->
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:comment_user:edit">-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:comment_user:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
<!--                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:comment_user:export">-->
<!--                    <i class="fa fa-download"></i> 导出-->
<!--                </a>-->
                <a class="btn btn-danger" onclick="closeItem()">
                    <i class="fa fa-reply-all"></i> 关闭
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:comment_user:edit')}]];
        var addFlag = [[${@permission.hasPermi('system:comment:add')}]];
        var removeFlag = [[${@permission.hasPermi('system:comment_user:remove')}]];
        var prefix = ctx + "system/comment_user";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "个人评论信息管理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'commentId',
                    title: '评论id'
                },
                {
                    field: 'postsId',
                    title: '评论所在帖子id'
                },
                {
                    field: 'userId',
                    title: '用户id'
                },
                {
                    field: 'avatar',
                    title: '评论者头像',
                    formatter: function(value, row, index ){
                        return '<img src="'+value +'" width="50" height="50">' ;
                    }
                },
                {
                    field: 'userName',
                    title: '用户名称'
                },
                {
                    field: 'parentUserId',
                    title: '父评论的用户id'
                },
                {
                    field: 'parentCommentId',
                    title: '父评论id'
                },
                {
                    field: 'content',
                    title: '评论内容',
                    width: '15',
                    widthUnit: '%',
                    align: "left",
                    formatter: function(value, row, index) {
                        return $.table.tooltip2(value,9);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        // actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.commentId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        // actions.push('<a class="btn btn-info btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.commentId + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        actions.push('<a class="btn btn-success btn-xs  " href="javascript:void(0)" onclick="toShow(\'' + row.postsId + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.commentId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /* 去前台 */
        function toShow(postsId) {
            window.open("/posts/"+postsId);
        }
    </script>
</body>
</html>